#navbar #dropdown-header .row:nth-child(1) {
  font-size: 60px;
  display: flex;
  justify-content: center;
}

#navbar #dropdown-header .row:nth-child(2) {
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  background-color: aqua;
}
#navbar {
  background: rgb(36, 131, 247);
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
.logo {
  width: 40%;
}
#navbar-in {
  font-size: 50px;
}
#navbar-sub-brand {
  font-size: 25px;
}
#navbar-img {
  width: 10%;
}
